.slide {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}
.slide1,
.slide2,
.slide3 {
  position: relative;
}

.slide1::before,
.slide2::before,
.slide3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.slide1 {
  background-image: url("https://images.unsplash.com/photo-1579541592065-da8a15e49bc7?q=80&w=2001&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.slide2 {
  background-image: url("https://images.unsplash.com/photo-1579541591970-e5780dc6b31f?q=80&w=1943&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.slide3 {
  background-image: url("https://images.unsplash.com/photo-1578301977886-43be7b983104?q=80&w=2123&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
